/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100vh;
}

/* LEFT PANEL – USERS */
.users-panel {
    background: #775feb9d;
    color: white;
    padding: 15px;
    overflow-y: auto;
}

.scroll-users {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

/* User item */
.user-item {
    padding: 10px;
    background: #9fafff;
    color: white;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    
}

.user-item:hover {
   background: #c59bff;
}

/* CENTER PANEL – CHAT */
.chat-panel {
    display: flex;
    flex-direction: column;
    background: #775feb9d;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.messages-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Chat bubbles */
.message {
    max-width: 70%;
    padding: 10px 14px;
    margin: 8px 0;
    border-radius: 16px;
    line-height: 1.4;
    display: inline-block;
}

.message.me {
    background: #c59bff;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 4px;
}

.message.them {
    background: #9fafff;
    color: white;
    align-self: flex-start;
    border-bottom-left-radius: 4px;
}

/* Message input */
#messageInput {
    padding: 10px;
    margin-top: 10px;
}

/* RIGHT PANEL */
.side-panel {
    background: #775feb9d;
    padding: 15px;
    overflow-y: auto;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    
}
/* hide login and registration panels */
.hidden {
    display: none;
}